lxml==4.2.3
mutagen==1.41.0
spotipy==2.4.4
youtube_dl==2019.6.21
Flask==0.12.2
pyperclip==1.6.4
celery==4.2.1
requests==2.18.4
moviepy==0.2.3.5
pytube==9.4.0
imageio==2.3.0
Pillow==6.0.0
beautifulsoup4==4.7.1
redis==2.10.6
