redis==2.10.6
imageio==2.3.0
git+git://github.com/nficano/pytube.git
spotipy==2.4.4
pyperclip==1.6.4
requests==2.18.4
moviepy==0.2.3.5
lxml==4.2.3
mutagen==1.41.0
Flask==0.12.2
celery==4.2.1
beautifulsoup4==4.7.1
