
{% extends 'base.html' %}

{% block body %}

<p class='title' style='margin-top: 0px; margin-bottom: 10px;'>
    Saved Songs
</p>

  <div class="container-fluid maxWidth lazy" style='background: rgb(28,28,30); margin-top: -5px;'>
        <table class="table table-dark justify-content space-between">
            <tbody>

              {% for i in range(artists_top_tracks| length) %}

              
                {% if i == 0 %}
                  <tr style="height:40px; border: 0px solid #fff !important;" >
                {% else %}
                  <tr style="height:40px;" > 
                {% endif %}

                    {% if i == 0 %}
                      <th scope="row" style='padding: 0px;border: 0px solid #fff !important;'> 
                    {% else %}
                      <th scope="row" style='padding: 0px;'> 
                    {% endif %}

                      <a class='no-link' href='artist.html'>
                        <div class="image-shadow-prev cursor-pointer-all-obj" style="background-image:url({{artists_top_tracks[i].alb_image}})" ></div>
                      </a>
                    </th>

                      {% if i == 0 %}
                        <td style="border: 0px solid #fff !important;">
                      {% else %}
                        <td>
                      {% endif %}
                          <a class='no-link' style='color: #fff;' href="{{ url_for('song', uri=artists_top_tracks[i].trc_id) }}">
                              {% if artists_top_tracks[i].trc_name|length >= 25 %}
                                {{artists_top_tracks[i].trc_name[:23]}}...
                              {% else %}
                                {{artists_top_tracks[i].trc_name}}
                              {% endif %}
                          </a>
                       </td>

                       {% if i == 0 %}
                        <td style="border: 0px solid #fff !important;">
                      {% else %}
                        <td>
                      {% endif %}
                          <a class='no-link' style='color: #fff;' href='{{ url_for('artist', uri=artists_top_tracks[i].art_id) }}'>
                              {% if artists_top_tracks[i].art_name|length >= 25 %}
                                {{artists_top_tracks[i].art_name[:23]}}...
                              {% else %}
                                {{artists_top_tracks[i].art_name}}
                              {% endif %}
                          </a>
                        </td>

                      {% if i == 0 %}
                          <td style="border: 0px solid #fff !important;">
                        {% else %}
                          <td>
                        {% endif %}
                          <a class='no-link' style='color: #fff;' href='{{ url_for('album', uri=artists_top_tracks[i].alb_id) }}'>
                              {% if artists_top_tracks[i].alb_name|length >= 20 %}
                                {{artists_top_tracks[i].alb_name[:17]}}...
                              {% else %}
                                {{artists_top_tracks[i].alb_name}}
                              {% endif %}
                          </a>
                        </td>
                        {% if i == 0 %}
                          <th class="text-justify text-right" style="border: 0px solid #fff !important;">
                        {% else %}
                        <th class="text-justify text-right">
                        {% endif %}
                        <a class='no-link download-link' href="{{ url_for('listenOnSpotifySong', uri=artists_top_tracks[i].trc_id)}}">
                          <span class="badge badge-success download-button">
                              <i class="fab fa-spotify"></i> Listen on Spotify
                          </span>
                        </a>

                        <a class='no-link download-link' href="{{ url_for('downloadSingleSong', uri=artists_top_tracks[i].trc_id)}}">
                          <span class="badge badge-primary download-button">
                            <i class="fas fa-arrow-alt-circle-down"></i> Download
                          </span>
                        </a>
                    </th>

                </tr>

              {% endfor %}

            </tbody>
          </table>
</div>

{% endblock %}